<div>
  <h1><%= @shop.name %></h1>
  <p><%= @shop.description %></p>
  <p><%= @shop.phone %></p>
  <%= cl_image_tag @shop.picture_profile %>
  <%= cl_image_tag @shop.picture_banner %>
  </div>
<% if @shop.user == current_user %>
<button><%= link_to 'Edit', edit_shop_path(@shop)%></button>
<button><%= link_to 'Delete', shop_path(@shop), method: :delete, data: {confirm: "Are you sure?"}  %></button>
<%end%>
