<h1>All Tattooists (<%= @users.count %>)</h1>
<div class="container">
    <% @users.each do |user| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="tattooists-card">
          <div class="tattooists-card-avatar" style="background-image: url('<%= image_path user.picture%>')">
          <%= user.initials %>
          </div>
              <%=user.first_name.capitalize + " " + user.last_name.upcase %>
              <%= link_to "", user_path(user), class: "tattoos-card-link" %>
        </div>
      </div>
    <% end %>
</div>

