<div class="container">
  <div class="tattooist-banner" style="background-image: url('<%= image_path @user.banneruser %>')">
  </div>
  <div class="tattooist-banner-footer">
    <div class="tattooist-banner-avatar" style="background-image: url('<%= image_path @user.choosephoto %>')">
    </div>
      <div class="tattooist-banner-name">
        <p><%=@user.first_name + " " + @user.last_name%></p>
        <p><%=@user.description %></p>

      </div>
  </div>

 <%= render 'tattoos/tattoos_cards_user' %>

</div>
