<h1>All Tattoos(<%= @tattoos.count %>)</h1>
<div class="container">
    <% @tattoos.each do |tattoo| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="tattoos-card" style="background-image: url('<%= cl_image_path tattoo.photo%>')">
          <div class="tattoos-card-picture">
          </div>
              <%=tattoo.name %>
              <%tattoo.description %>
              <%=tattoo.user.first_name.capitalize + " " + tattoo.user.last_name.upcase %>
              <%=tattoo.created_at %>
              <button>
                <%= link_to tattoo_path(tattoo) do %>
                  <i class="fa fa-user"></i> <%= t ".profile", default: "Show" %>
                <% end %>
              </button>
        </div>
      </div>
    <% end %>
</div>
