<div>
  <h1><%= @tattoo.name %></h1>
  <p><%= @tattoo.description %></p>
  <%= cl_image_tag @tattoo.photo %>
  </div>
<% if @tattoo.user == current_user %>
<button><%= link_to 'Edit', edit_tattoo_path(@tattoo)%></button>
<button><%= link_to 'Delete', tattoo_path(@tattoo), method: :delete, data: {confirm: "Are you sure?"}  %></button>
<%end%>
